PORT=4000
ENVIRONMENT=local
API_BASE_URL=https://api.example.com
CORS_ORIGIN=http://localhost:3000
REGION=au
SUMO_ENDPOINT=https://endpoint1.collection.sumologic.com/receiver/v1/http/your-endpoint
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/nest_starter_kit_local?schema=public
